fastapi
uvicorn[standard]
sqlalchemy[aio]
asyncpg
pydantic
python-json-logger
celery
redis
python-dotenv
pydantic-settings
pandas
alembic
gunicorn
python-jose
pytest
pytest-asyncio
scikit-learn
python-multipart
openai
pdfplumber
python-json-logger

